<div class="container is-fullhd">
<section class="hero is-warning my-4">
    <div class="hero-body">
    <p class="title has-text-info-dark">
    {{username}}'s Dashboard
    </p>
    </div>
</section>
</div>


<div class="container">
    <a href="/dashboard/create-blog/{{user_id}}" class="button is-fullwidth mb-3 has-background-success has-text-info-dark has-text-weight-bold is-medium is-responsive">Create a new blog</a>
    </div>
{{#each blogs as |blog|}}
<div class="container p-3">
    <div class="card">
        <header class="card-header has-background-dark has-background-primary-dark px-1">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <a href="api/blogs/edit-post/{{id}}" class="button mx-4 my-3 has-background-warning has-text-weight-bold is-text-">Edit</a>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <h3 class="is-size-3 has-text-light has-text-weight-bold">{{blog.blog_title}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <h5 class="has-text-light">Posted by <strong>{{user.username}}</strong> on {{formatDate createdAt}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card-content has-background-primary-light">
            <div class="content">
                {{blog.blog_text}}
            </div>
        </div>
    </div>
</div>
{{/each}}